.message {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 15px 5px 10px;
    background-color: antiquewhite;
    border-radius: 25px;
    margin-right: auto;

    // .message--i
    &--i {
        justify-content: end;
        margin-right: 0;
        margin-left: auto;
        background-color: #f2deef;
    }

    // .message__user
    &__user {
        width: 35x;
        height: 35px;
        border-radius: 50%;
    }
}
