.message {
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
    padding: 5px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .user__ava
    &__ava {
        width: 30px;
        height: 30px;
        background-color: lightgrey;
        border-radius: 50%;
    }
}
