.wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
